<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<head>
    <meta charset="UTF-8">
    <title>CheckOrder</title>
</head>
<body>

<div layout:fragment="content">
    <div>
        <table>
            <thead>
            <tr>
                <th colspan="10" style="text-align: center">
                    商品列表
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="title">
                <td>
                    productId
                </td>
                <td>
                    productName
                </td>
                <td>
                    category
                </td>
                <td>
                    imageUrl
                </td>
                <td>
                    price
                </td>
                <td>
                    stock
                </td>
                <td>
                    description
                </td>
                <td>
                    加入購物車
                </td>
            </tr>
            <form action="/orders/cart" method="post" th:object="${buyItem}">
                <tr>
                    <td>
                        <label for="productId" th:text="${buyItem.productId}"></label>
                        <input type="hidden" id="productId" name="productId" th:field="*{productId}">
                    </td>
                    <td th:text="${product.productName}"></td>
                    <td th:text="${product.category}"></td>
                    <td style="width: fit-content">
                        <img th:if="${product.imageUrl} != ''" style="height: 8em; width: 12em" th:src="${product.imageUrl}" alt="">
                    </td>
                    <td th:text="${product.price}"></td>
                    <td>
                        <label>
                            <input type="number" th:placeholder="${product.stock}" id="quantity" name="quantity"
                                   th:field="*{quantity}">
                        </label>
                    </td>
                    <td th:text="${product.description}"></td>
                    <td>
                        <button type="submit">加入</button>
                    </td>
                </tr>
            </form>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>