<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}"
>
<head>
    <meta charset="UTF-8">
    <title>ProductList</title>
</head>
<body>

<div layout:fragment="content">
    <div>
        <form action="/products" method="get">
            <label>
                <input type="text" name="search">商品名稱
            </label>
            <label>
                <input list="datalistId" name="orderBy">排序
                <datalist id="datalistId">
                    <option value="productId">
                    <option value="productName">
                    <option value="category">
                    <option value="price">
                    <option value="stock">
                    <option value="createdDate">
                    <option value="lastModifiedDate">
                </datalist>
            </label>
            <label>
                <input type="number" name="limit">顯示筆數
            </label>
            <label>
                <input type="number" name="pageNumber">頁數
            </label>
            <button type="submit">查詢</button>
        </form>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th colspan="10" style="text-align: center">
                    商品列表
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="title">
                <td>
                    productId
                </td>
                <td>
                    productName
                </td>
                <td>
                    category
                </td>
                <td>
                    image
                </td>
                <td>
                    price
                </td>
                <td>
                    stock
                </td>
                <td>
                    description
                </td>
                <td>
                    createdDate
                </td>
                <td>
                    lastModifiedDate
                </td>
                <td sec:authorize="hasAuthority('NORMAL')">
                    新增訂單
                </td>
                <td sec:authorize="hasAuthority('ADMIN')">
                    編輯商品
                </td>
            </tr>
            <tr th:each="product:${products.content}">
                <td th:text="${product.productId}"></td>
                <td th:text="${product.productName}"></td>
                <td th:text="${product.category}"></td>
                <td style="width: fit-content">
                    <img th:if="${product.imageUrl} != ''" style="height: 8em; width: 12em" th:src="${product.imageUrl}">
                </td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.stock}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${#dates.format(product.createdDate,'yyyy/MM/dd HH:mm:ss')}"></td>
                <td th:text="${#dates.format(product.lastModifiedDate,'yyyy/MM/dd HH:mm:ss')}"></td>
                <td sec:authorize="isAuthenticated()">
                    <a sec:authorize="hasAuthority('NORMAL')" th:href="@{/products/}+${product.productId}+@{/add}">
                        <button type="submit">新增</button>
                    </a>
                    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/products/}+${product.productId}+@{/update}">
                        <button type="submit">編輯商品</button>
                    </a>
                    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/products/}+${product.productId}+@{/delete}">
                        <button type="submit">刪除商品</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>